* {
    font-family: sans-serif;
    margin: 0px;
}

label {
    font-size: 18pt;
    vertical-align: top;
}

#create-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    background-color: #ffe07d;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    border-radius: 20px;
}

.side-header {
    font-size: 16pt;
}

#genre-selector {
    width: 100%;
    font-size: 14pt;
    padding: 2px 2px 2px 0px;
}

#genre-selector > * {
    padding: 0px;
    margin: 0px;
}

#description {
    font-size: 10pt;
    height: 40px;
    width: 100%;
    padding: 5px;
}

table, th, td {
    padding: 5px;
    transition: all 0.3s ease;
}

#table {
    width: 60%;
}

#questions {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ecf4ff;
    width: 65%;
}

#number-of-options {
    text-align: center;
}

#question-id {
    text-align: right;
}

#question-title {
    font-size: 12pt;
}

#new-genre {
    font-size: 14pt;
    width: 100%;
}

#options-selector {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.options-btn {
    display: inline-block;
    padding: 8px 15px;
    font-size: 1.1em;
    font-family: cursive;
    color: #fff;
    background: #fc774e;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: center;
    user-select: none;
  }
  
.options-btn:hover {
    background: #ff8661;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.question {
    width: 100%;
}

.option {
    display: flex;
    gap: 5px;
}

#option-id {
    margin-left: auto;
}

.option > input {
    width: 75%;
}

.correct {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.correct > input {
    width: 8%
}

#submit-btn {
    margin-top: 20px;
    background-color: #4c7c8c;
    width: 70%;
    border-radius: 10px;
}

#quiz-name {
    font-size: 14pt;
    width: 100%;
}

.x-icon {
    width: 48px;
    transition: all 0.3s ease;
}

.x-icon:hover {
    transform: translateY(-2px);
}

#cover-image {
    position: relative;

    width: 30%;
}